<section class="pano">
  <div id="pano_row" class="row no_margin">
    <%= image_tag("clear_sw_logo.png", id:"sw_index_logo", class:"center-block") %>
  </div>
</section>
<section id="row_2">
  <div class="container">
    <h1 class="welcome_header text-center hidden-sm hidden-xs">Hello!<br />My name is Stephen Wentling<br />And I'm a Full-Stack<br />Software Engineer</h1>
    <h3 class="welcome_header text-center hidden-lg hidden-md">Hello!<br />My name is Stephen Wentling<br />And I'm a Full-Stack<br />Software Engineer</h3>
    <div class="text-center">
      <a href="#row_3"><i id="pano_down_white" class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
<section id="row_3">
  <h2 class="recent_work_header text-center">Recent Work</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12 no_padding">
        <%= render partial: "welcome/showcase" %>
      </div>
    </div>
  </div>
</section>
<section id="row_4">
  <div class="container">
    <div class="row image_icon_row text-center">
      <h2 class="skill_header_index">Technologies</h2>
      <div class="col-xs-10 col-xs-offset-1 image_icons hidden-lg hidden-md">
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-ruby-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-rails-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-javascript-plain colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-react-original-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-angularjs-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-backbonejs-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-html5-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-css3-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-bootstrap-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-jquery-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-sass-original colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-git-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-github-plain-wordmark skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-heroku-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-python-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-django-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-mysql-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-4">
            <i class="devicon-postgresql-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <i class="devicon-redis-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 image_icons hidden-sm hidden-xs">
        <div class="row">
          <div class="col-xs-2">
            <i class="devicon-ruby-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-rails-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-javascript-plain colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-react-original-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-angularjs-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-backbonejs-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <i class="devicon-html5-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-css3-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-bootstrap-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-jquery-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-sass-original colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-git-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <i class="devicon-github-plain-wordmark skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-heroku-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-python-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-django-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-mysql-plain-wordmark colored skill_icon"></i>
          </div>
          <div class="col-xs-2">
            <i class="devicon-postgresql-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <i class="devicon-redis-plain-wordmark colored skill_icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="row_5">
  <h2 class="contact_header text-center">Contact Me!</h2>
  <div class="container">
    <div class="row contact-row text-center">
      <div class="col-xs-3">
        <%= link_to("", "https://github.com/swentling87", class: "fa fa-github") %>
      </div>
      <div class="col-xs-3">
        <%= link_to("", "https://www.linkedin.com/in/stephen-wentling-b3900329?trk=hp-identity-photo", class: "fa fa-linkedin-square") %>
      </div>
      <div class="col-xs-3">
        <%= link_to("", "http://stackoverflow.com/users/5992270/stephen-w", class: "fa fa-stack-overflow") %>
      </div>
      <div class="col-xs-3">
        <%= mail_to("stephen@swentling.com", "", class: "fa fa-envelope") %>
      </div>
    </div>
  </div>
</section>

