<div>
  <h3 class="postHTop">What is it?</h3>
  <div>
    Web based Real-Time Communications or Web RTC is a pretty amazing technology. Simply put, it's an open framework that enables real-time communication within the browser via text-chat, audio or video. Devloped by Google initially, it has become an open source project supported by Google, Firefox and Opera.
  </div>
<div>
  <h3>What I've Done</h3>
  <p>
    Ok, so why am I writing about it? Well in an effort to learn more about and experiment with this amazing tech, I've built a video chat application called <%= link_to "Vid_chat", "https://vid-chat-react.herokuapp.com/" %>. Built on ReactJS this project will simply allow a user to join a chat room and immediately chat via video. No signup, no sign in, just a simple connection between two or more computers when they join the same room. This is just the tip of the iceberg however as there are many other features available From text-chat to file sharing Web RTC has many other implementations that can be explored that have not been in my project. To check out the code for this project, feel free to browse the repo <%= link_to "here", "https://github.com/swentling87/vid_chat_frontend" %>. My next goal is to possibly spin this off as an open source project available to ReactJS users to interact with Web RTC.
  </p>
  <h3>Links</h3>
  <p>For more information check out these links below:</p>
  <ul>
    <li class="bold"><%= link_to "https://webrtc.org", "https://webrtc.org" %></li>
    <li class="bold"><%= link_to "https://github.com/andyet/SimpleWebRTC", "https://github.com/andyet/SimpleWebRTC" %></li>
    <li class="bold"><%= link_to "https://codelabs.developers.google.com/codelabs/webrtc-web/", "https://codelabs.developers.google.com/codelabs/webrtc-web/" %></li>
    <li class="bold"><%= link_to "https://en.wikipedia.org/wiki/WebRTC", "https://en.wikipedia.org/wiki/WebRTC" %></li>
  </ul>
</div>
