<section class="headerBar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-xs-12">
        <%= link_to(image_tag("http:\/\/0.gravatar.com\/avatar\/95add28d8792fa4af0f190344db456ac", class: "pull-left image-responsive img-circle face"), root_path) %>
        <h1 class="bannerMessage hidden-sm hidden-xs"><%= link_to('swentling.com', root_path) %></h1>
        <h2 class="bannerMessage hidden-lg hidden-md"><%= link_to('swentling.com', root_path) %></h2>
        <small><%= link_to('Blog', welcome_blog_path, class: "header-link") %></small>
        <small><%= link_to('Projects', projects_path, class: "header-link") %></small>
        <small><%= link_to('About', welcome_about_path, class: "header-link") %></small>
        <small><%= link_to('Resume', asset_path("resume_web.pdf") , class: "header-link") %></small>
      </div>
      <div class="icon-row col-md-2 col-xs-12 text-center">
        <div class="col-xs-3">
          <%= link_to("", "https://github.com/swentling87", class: "fa fa-github") %>
        </div>
        <div class="col-xs-3">
            <%= link_to("", "https://www.linkedin.com/in/stephen-wentling-b3900329?trk=hp-identity-photo", class: "fa fa-linkedin-square") %>
        </div>
        <div class="col-xs-3">
          <%= link_to("", "http://stackoverflow.com/users/5992270/stephen-w", class: "fa fa-stack-overflow") %>
        </div>
        <div class="col-xs-3">
          <%= mail_to("stephen@swentling.com", "", class: "fa fa-envelope") %>
        </div>
      </div>
    </div>
  </div>
</section>
