<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Sansita" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/e21bfe2a3d.js"></script>
  </head>

  <body>
    <%= render partial: 'layouts/portHeader' %>
    <%= yield %>
    <%= render partial: 'layouts/portFooter' %>
  </body>
</html>
